#game-canvas {
    background-color: lightskyblue;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.top-info {
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
    color: white;
    width: 100%;
    pointer-events: none;
    margin-top: 1%;
}

.score {
    font-size: 30px;
}

.time {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    position: fixed;
}

#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: white;
    width: 20em;
    height: 10em;
    border-radius: 25px;
}

#start-game {
    border-radius: 25px;
}